// Place all the styles related to the transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.completed{
    color: #51b551 !important;
    font-weight: bold;
}

tr.pending{
    color: #337ab7 !important;
    font-weight: bold;
}

tr.canceled{
    color: #da3d3d !important;
    font-weight: bold;
}